* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

body {
    padding-bottom: 70px;
    background: linear-gradient(to bottom right, #ffbfd2, #c8fff5);
}

/* HEADER */
.header {
    background:#f3f3f3;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

ul {
  list-style-type: none;
  text-align: right;
  padding: 20px;
  font-color: linear-gradient(to bottom right, #ffbfd2, #c8fff5);
}
.ul:hover {
    background: linear-gradient(to bottom right, #ffbfd2, #c8fff5);
}
li {
  display: inline;
  padding: 4px;
}

.profile{
    color:black;
    font-size:18px;
}

/* BALANCE CARD */
.balance-card {
    margin: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.balance-card h1 {
    font-size: 35px;
    margin-top: 5px;
}

.balance-card button {
    margin-top: 10px;
    padding: 10px 18px;
    border: none;
    background: linear-gradient(to bottom right, #ffbfd2, #c8fff5);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* SERVICES */
.services {
    margin: 20px;
}

.services h3 {
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.box:hover {
    background: linear-gradient(to bottom right, #ffbfd2, #c8fff5);
}

/* TRANSACTIONS */
.transactions {
    margin: 20px;
}

.trans-row {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
}

.trans-row:hover {
    background: linear-gradient(to bottom right, #ffbfd2, #c8fff5);
}

.amount {
    color: red;
}

/* BOTTOM NAV */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 12px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.bottom-nav a {
    font-size: 22px;
    text-decoration: none;
}
.MobileRecharge-btn {
    background: #a0f0e1;
    padding: 6px 14px;
    border-radius: 6px;
}
.MobileRecharge-btn:hover {
    background: linear-gradient(to bottom right, #ffbfd2, #c8fff5);
}
