* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    padding: 20px;
}

.header {
    background: linear-gradient(to bottom right, #ffbfd2, #c8fff5);
    padding: 15px;
    text-align: center;
    color:black;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
}

.main-box {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.main-box h3 {
    margin-bottom: 15px;
    color:  linear-gradient(to bottom right, #ffbfd2, #c8fff5);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to bottom right, #ffbfd2, #c8fff5);
    color:black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(to bottom right, #ffbfd2, #c8fff5);
}
